name: Regenerate

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  regenerate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: wimpysworld/nothing-but-nix@main
      - uses: nixbuild/nix-quick-install-action@v34
      - name: generate indexes
        run: |
          nix run nixpkgs#nushell -- -c '
            mkdir indexes
            rm -f indexes/*.json

            http get https://reapack.com/repos.txt
            | lines
            | each {|repo_url|
                print $"Processing ($repo_url)..."

                try {
                    let index_data = (http get $repo_url)
                    let raw_name = $index_data.attributes.name

                    let safe_name = ($raw_name
                      | str downcase
                      | str replace --all -r "[^a-z0-9]+" "-"
                      | str trim --char "-"
                      | str replace -r "^([0-9])" "_$1"
                    )

                    let json_output = (^nix run github:silvarc141/reapkgs -- $repo_url)
                    $json_output | save -f $"indexes/($safe_name).json"

                    print $"Saved indexes/($safe_name).json"
                } catch {
                    print $"Failed to process ($repo_url)"
                }
            }
          '

      - name: commit
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add indexes/
          git diff --quiet HEAD || (git commit -m "update indexes" && git push)
