name: Regenerate

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  regenerate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: wimpysworld/nothing-but-nix@main
      - uses: cachix/install-nix-action@v31
      - name: Generate JSON for each 'known' ReaPack index
        run: nix run nixpkgs#nushell -- ./update.nu
      - name: Commit
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add indexes/
          git diff --quiet HEAD || (git commit -m "update indexes" && git push)
